* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.Navbar-Menu {
  width: 100%;
  height: 80vh !important;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('https://img.freepik.com/free-photo/elevated-view-breads-utensils-egg-spices-forming-frame-black-background_23-2147955228.jpg?size=626&ext=jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.heading {
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.Contact-us {
  width: 100%;
  padding: 100px 20px;
  text-align: center;
}

.Contact-us h2 {
  font-size: 30px;
  margin-bottom: 40px;
  border-bottom: 2px solid #c37a3e;
  display: inline-block;
}

.Contact-us form {
  max-width: 800px;
  margin: auto;
  text-align: left;
}

.Contact-us label {
  margin-top: 20px;
}

.Contact-us input,
.Contact-us textarea {
  box-shadow: none !important;
}

#Touch {
  padding: 10px 50px;
  text-decoration: none;
  background-color: #c37a3e;
  color: #fff;
  border-radius: 100px;
  transition: 0.5s;
  display: inline-block;
  margin-top: 30px;
}

#Touch:hover {
  letter-spacing: 2px;
}
